<mat-card class="example-card mat-elevation-z3">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Doge</mat-card-title>
      <mat-card-subtitle>Queen's University Engineering Student</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <h3>{{question}}</h3>
        <button mat-stroked-button color="primary" (click)="vote(option1)">{{option1}}</button><br>
        <button mat-stroked-button color="primary" (click)="vote(option2)">{{option2}}</button><br>
        <button mat-stroked-button color="primary" (click)="vote(option3)">{{option3}}</button>
    </mat-card-content>
</mat-card>