<mat-card class="example-card mat-elevation-z3">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{username}}</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="!voters.includes(myusername) && !voted">
        <h3>{{question}}</h3>
        <button mat-stroked-button color="primary" (click)="vote(option1)">{{option1.option}}</button><br>
        <button mat-stroked-button color="primary" (click)="vote(option2)">{{option2.option}}</button><br>
        <button mat-stroked-button color="primary" (click)="vote(option3)">{{option3.option}}</button>
    </mat-card-content>
    <mat-card-content *ngIf="voters.includes(myusername) || voted">
        <h3>{{question}}</h3>
        <span>{{option1.option}}: {{option1.votes}} votes</span><br>
        <span>{{option2.option}}: {{option2.votes}} votes</span><br>
        <span>{{option3.option}}: {{option3.votes}} votes</span>
    </mat-card-content>
</mat-card>