.example-card {
    width: 240px;
    border-radius: 12px;
    border: 2px solid #FFBF00;
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');
    background-size: cover;
}

.mat-card-content {
    margin: 0px
}

.mat-card-actions {
    padding: 0px 8px
} 

button {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
}

h3 {
    font-weight: bold
}