<mat-card class="example-card mat-elevation-z3">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Doge</mat-card-title>
      <mat-card-subtitle>Queen's University Engineering Student</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <h3>Question</h3>
        <button mat-raised-button color="primary" (click)="vote1()">Option 1</button>
        <button mat-raised-button color="primary" (click)="vote2()">Option 2</button>
        <button mat-raised-button color="primary" (click)="vote3()">Option 3</button>
    </mat-card-content>
</mat-card>