mgl-map {
    height: 100%;
    width: 100%;
}

.map-container {
    height: 100%;
    width: 100%;
}

.thing {
    position: absolute;
    top: 24px;
    left: 24px
}

.thing2 {
    position: absolute;
    top: 24px;
    right: 24px
}

.landingpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 240px;
}

.hover {
    cursor: pointer;
    font-weight: bold;
}
