<!-- Queens colour scheme -->
<!-- [style]="'mapbox://styles/dmcphaden/ckyxawrzi000r14p5z86ks4ih'" -->

<div class="map-container">
    <mgl-map
    
        [style]="'mapbox://styles/mapbox/streets-v9'"
        [zoom]="[13]"
        [center]="[lng, lat]"
        class="map"
    >

    <mgl-popup class="mgl-popup" *ngFor="let c of coordinates"
    [lngLat]="[c[0], c[1]]">
    {{c[2]}}
    </mgl-popup>

    </mgl-map>
    <div class="thing">
        <app-poll></app-poll>
    </div>
</div>
<!-- <app-view-poll></app-view-poll> -->