<!-- Queens colour scheme -->
<!-- [style]="'mapbox://styles/dmcphaden/ckyxawrzi000r14p5z86ks4ih'" -->
<div *ngIf="!username" class="landingpage">
    <img src="../../assets/coollogo_com-172991312.png">
    <br><br>
    <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="tempUsername">
    </mat-form-field><br>
    <mat-form-field appearance="outline">
        <mat-label>About You</mat-label>
        <input matInput [(ngModel)]="bio">
    </mat-form-field><br>
    <button mat-raised-button color="primary" (click)="login()">Login</button>
</div>
<div *ngIf="username" class="map-container">
    <mgl-map
    
        [style]="'mapbox://styles/mapbox/streets-v9'"
        [zoom]="[13]"
        [center]="[lng, lat]"
        class="map"
    >

    <div *ngIf="show">
        <mgl-popup class="mgl-popup" *ngFor="let c of coordinates"
        [lngLat]="[c[0], c[1]]">
        {{c[2]}}
        </mgl-popup>
    </div>
    
    </mgl-map>
    <div class="thing">
        <app-poll [username]="username" [bio]="bio"></app-poll>
    </div>
</div>
<app-view-poll *ngIf="username" [question]="currentPoll.question" 
[option1]="currentPoll.option1" 
[option2]="currentPoll.option2" 
[option3]="currentPoll.option3" 
(voteEmitter)="vote($event)"></app-view-poll>