<!-- Queens colour scheme -->
<!-- [style]="'mapbox://styles/dmcphaden/ckyxawrzi000r14p5z86ks4ih'" -->
<div *ngIf="!username" class="landingpage">
    <img src="../../assets/coollogo_com-172991312.png">
    <br><br>
    <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="tempUsername">
    </mat-form-field><br>
    <mat-form-field appearance="outline">
        <mat-label>About You</mat-label>
        <input matInput [(ngModel)]="bio">
    </mat-form-field><br>
    <button mat-raised-button color="primary" (click)="login()">Login</button>
</div>
<div *ngIf="username" class="map-container">
    <mgl-map
    
        [style]="'mapbox://styles/jkarbi/ckz0boq49005t14onjb5o846i'"
        [zoom]="[13]"
        [center]="[lng, lat]"
        class="map"
    >

    <div *ngIf="show">
        <mgl-popup class="mgl-popup" *ngFor="let q of questions"
        [lngLat]="[q.coords[0], q.coords[1]]" [closeOnClick]="false">
            <span (click)="openPoll(q)" class="hover">{{q.question_text}}</span>
        </mgl-popup>
    </div>
    
    </mgl-map>
    <div class="thing">
        <app-poll [username]="username" [bio]="bio"></app-poll>
    </div>
</div>
<app-view-poll class="thing2" *ngIf="viewQuestion" [question]="viewQuestion.question" 
[option1]="viewQuestion.option1" 
[option2]="viewQuestion.option2" 
[option3]="viewQuestion.option3" 
[username]="viewQuestion.username"
[myusername]="username"
[voters]="viewQuestion.voters"
[q_id]="viewQuestion.id"
(voteEmitter)="vote($event)"></app-view-poll>